@mixin media($size) {
  @if $size==1-up {
    @media (min-width: $media-1) {
      @content;
    }
  }

  @else if $size==2-up {
    @media (min-width: $media-2) {
      @content;
    }
  }

  @else if $size==3-up {
    @media (min-width: $media-3) {
      @content;
    }
  }

  @else if $size==4-up {
    @media (min-width: $media-4) {
      @content;
    }
  }

  @else if $size==5-up {
    @media (min-width: $media-5) {
      @content;
    }
  }

  @else if $size==6-up {
    @media (min-width: $media-6) {
      @content;
    }
  }

  @else if $size==7-up {
    @media (min-width: $media-7) {
      @content;
    }
  }

  @else if $size==1-down {
    @media (max-width: $media-1) {
      @content;
    }
  }

  @else if $size==2-down {
    @media (max-width: $media-2) {
      @content;
    }
  }

  @else if $size==3-down {
    @media (max-width: $media-3) {
      @content;
    }
  }

  @else if $size==4-down {
    @media (max-width: $media-4) {
      @content;
    }
  }

  @else if $size==5-down {
    @media (max-width: $media-5) {
      @content;
    }
  }

  @else if $size==6-down {
    @media (max-width: $media-6) {
      @content;
    }
  }

  @else if $size==7-down {
    @media (max-width: $media-7) {
      @content;
    }
  }
}

@mixin base-font($size: 'normal') {
  @if $size=='h1' {
    font-size: 72px
  }

  @if $size=='h2' {
    font-size: 52px;
  }

  @if $size=='h3' {
    font-size: 36px;
  }

  @if $size=='h4' {
    font-size: 24px;
  }

  @if $size=='h5' {
    font-size: 18px;
  }

  @else if $size=='large' {
    font-size: 18px;
  }

  @else if $size=='normal' {
    font-size: 16px;
  }
}